@import '/src/variables.scss';

.header {
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
}

.brand {
    display: flex;
    gap: 10px;
    align-items: center;
    font: $font-title;

    *:not(img) {
        font: $font-title;
        display: inline-block;
    }

    img {
        width: 35px;
    }
}
.navMenu {
    display: flex;
    gap: 30px;
    align-items: center;
    font: $font-regular;
    a {
        text-decoration: none;
    }
}